html {
  scroll-behavior:smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #363636;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0078aa;
}

svg {
  width: 40px;
  height: 40px;
  fill: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 3% 0;
}

.up-arrow-button {
  width: 20px;
  height: 20px;
  background-color: #0078aa;
  border-radius: 50%;
  padding: 1%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.up-arrow-button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #0078aa;
}

.up-arrow-button:hover .up-arrow {
  fill:#0078aa;
}

.contact-form-submit:hover {
  background-color: #fff;
  border: 2px solid #0078aa;
  color: #0078aa;
  cursor: pointer;
}

.offer-card-button:hover {
  background-color: #0078aa;
  color: #fff;
  cursor: pointer;
}

.wrapper {
  padding: 0 5%;
}

.section-header {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

.section-description {
  color: #0078aa;
  margin: 1% 0 5%;
}

.logo {
  margin-bottom: 2%;
  text-align: center;
}

.nav-list {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.8rem;
}

.banner {
  background-image: url("../img/lady.jpg");
  background-position: left;
  background-size: cover;
  margin-top: 10%;
  padding: 15% 0 5%;
}

.banner-content {
  text-align: center;
}

.banner-heading {
  font-size: 2.5rem;
}

.banner-text {
  color: #a5a5b8;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
}

.icon-item {
  background-color: #0078aa;
  width: 60px;
  height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 4%;
}

.icon-item:hover {
  background-color: #fff;
}

.icon-item:hover svg {
  fill: #0078aa;
}

.section-content {
  text-align: center;
}

.arrow-right {
  fill: #000;
  width: 10px;
  height: 10px;
}

.headings {
  text-align: center;
}

.services-content {
  background-image: url(../img/services_bg.jpg);
  padding: 3% 5%;
}

.service-card {
  background-color: #fff;
  text-align: left;
  margin: 5% 0;
  padding: 5%;
}

.offers-card:nth-child(odd) {
  background-color: #47c9e5;
  color: #fff;
}

.offers-card:nth-child(even) {
  background-color: #fff;
  border: 2px solid #0078aa;
  color: #0078aa;
}

.offers-card {
  margin-top: 5%;
  padding: 5%;
}


.offers-card {
  text-align: center;
}

.price {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.offer-li {
  margin: 10% 0;
}

.offer-li-black {
  fill: #0078aa;
}

.offer-li:first-child {
  font-size: 1.5rem;
}

.offer-card-button {
  border: 2px solid #0078aa;
  border-radius: 12px;
  padding: 4% 6%;
  color: #0078aa;
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}

.offer-icon {
  margin: -7%;
  width: 20px;
}

.section-img {
  width: 100%;
}

.contact-header {
  font-weight: 700;
}

.contact-form-input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding: 2%;
  margin: 2%;
  font-style: italic;
  color: #616161;
}

.contact-form-submit {
  background-color: #0078aa;
  color: #fff;
  border-radius: 12px;
  padding: 4% 5%;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
}

footer {
  background-color: #363636;
  color: #fff8f8;
  text-align: center;
  padding: 2% 0;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 1%;
  }

  .wrapper {
    padding: 0 2%;
  }
    
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 50%;
    text-align: left;
    margin: 0;
  }

  .nav-list {
    width: 50%;
    margin: 0;
  }

  .banner {
    margin-top: 10%;
    padding: 15% 0 8%;
  }

  .banner-content {
    text-align: left;
    width: 65%;
  }

  .banner-heading {
    font-size: 2.5rem;
  }

  .banner-text {
    color: #a5a5b8;
  }

  .icons-wrapper {
    justify-content: left;
  }

  .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    text-align: left;
  }

  .img-container {
    display: flex;
    align-items: center;
  }

  .services-section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
  }

  .service-card {
    margin: 5% 0;
  }

  .offers-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .offers-card:nth-child(even) {
    padding: 8% 4%;
  }

  .contact-form-submit {
    padding: 3% 4%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    padding: 1%;
  }

  #services .headings {
    text-align: center;
  }

  #pricing .headings{
    text-align: center;
  }

  .wrapper {
    padding: 0 10%;
  }

  .nav-list {
    width: 35%;
  }

  .banner {
    margin-top: 2%;
    padding: 15% 0 5%;
  }

  .banner-content {
    width: 35%;
  }

  .icon-item {
    margin: 0 2%;
  }

  .services-content {
    padding: 3% 10%;
  }

  .pricing-wrapper {
    background-image: url('../img/tools.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .offers-card {
    padding: 8%;
  }

  .offers-card:nth-child(even) {
    padding: 10% 8%;
  }
  
  .price {
    font-size: 5rem;
  }
  
  .offer-li {
    font-size: 1.5rem;
  }
  
  .offer-li:first-child {
    font-size: 2rem;
  }
  
  .offer-icon {
    margin: -7%;
    width: 20px;
  }

  .headings {
    text-align: left;
  }
}